/* CSS para sidebar*/
/* Aseguramos que el fondo blanco y el texto en negro solo se apliquen al enlace activo */
.nav-item.active .nav-link {
    background-color: white; /* Fondo blanco */
    color: #000000 !important; /* Texto negro */
    display: block; /* Aseguramos que el enlace ocupe todo el ancho */
    padding-left: 20px; /* Padding para que no quede pegado al borde */
    padding-right: 50px; /* Padding para que no quede pegado al borde */
    border-radius: 0.5em;
    width: 100%; /* Aseguramos que el fondo blanco ocupe todo el ancho */
}

/* Enlace activo: texto e iconos en negro */
.nav-item.active .nav-link i {
    color: #000000 !important; /* Icono negro */
}

/* Los enlaces no activos tienen color blanco por defecto */
.nav-item .nav-link {
    color: white; /* Texto blanco por defecto */
    display: block; /* Aseguramos que los enlaces ocupen todo el ancho */
    width: 100%; /* Aseguramos que los enlaces inactivos también ocupen todo el ancho */
    padding-left: 20px; /* Padding para que no quede pegado al borde */
    padding-right: 50px; /* Padding para que no quede pegado al borde */
    transition: background-color 0.3s ease; /* Añadimos una transición suave */
}

/* Aseguramos que el nav-item ocupe todo el ancho disponible */
.nav-item {
    width: 100%; /* Ocupa todo el ancho disponible */
}

.sidebar {
    width: 175px;
    height: auto;
    background-color: #003262;
    color: white;
    /*display: none;*/
    /*transform: translateX(0); /* Aseguramos que esté visible al inicio */
}

.sidebar.active {
    display: block;
}

.login-page {
    position: relative;
    min-height: 100vh; /* Asegura que la imagen cubra toda la altura de la pantalla */
    background-image: url('../img/SkyCaterPlane.png'); /* Imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Fija la imagen mientras haces scroll */
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.69); /* Capa semitransparente */
    z-index: 1; /* Asegura que esté encima de la imagen de fondo */
}

.container.contLogin {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima de la capa semitransparente */
}


/* Logo */
.logo {
    width: 200px;  /* Ajusta el ancho del logo */
    height: 200px; /* Ajusta la altura del logo */
    margin-top: -25px;
    margin-left: -25px;
    object-fit: contain;
    position: relative;
    z-index: 1;
}
.logo-menu{
    max-width: auto; 
    height: auto;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.flex-grow-1 {
    height: auto;
    width: auto;
}

.card {
    margin: 10px;
}

.loginTittle{
    color:#003262;
}

.custom-border{
    border: 1px solid #6c757d;
}

#btn-login {
    background-color: #003262;

}

#btn-login > i {
    margin-right: 15px;
}

#inputId {
    margin-right: 10px;
    color: #003262;
}

body {

    background: hsla(0, 0%, 100%, 1);

    background: linear-gradient(270deg, hsla(0, 0%, 100%, 1) 0%, hsla(210, 50%, 80%, 1) 100%);
    
    background: -moz-linear-gradient(270deg, hsla(0, 0%, 100%, 1) 0%, hsla(210, 50%, 80%, 1) 100%);
    
    background: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, 1) 0%, #b3cce6 100%);
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#a8c8e0", GradientType=1);
    

    /*background: linear-gradient(to top, #a4d8e1, #ffffff);*/
}


body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar-dark-mode {
    background-color: #333333;
}


.indi {
    color: #003262;
    max-width: 250px;
    width: 240px;
    height: 55%;
}

body.dark-mode .login-container {
    background-color: #333333;
    color: #ffffff;
}

.dash{
    padding: 0;
    margin-left: 14.8em;
    width: 200px;
    text-align: left;
}

html, body {
    height: 100%; /* Asegúrate de que el body ocupe toda la altura */
    margin: 0;
}

/* ESTILO NOTIFICACIONES NOTYF */
.notyf > .notyf__toast {
    transform: translateY(35px) !important;  /* Desplaza las notificaciones 20px hacia abajo */
  }

/*ESTILOS DATABLES */

/* Ajustar el tamaño del texto de las filas de la tabla */
.custom-table-size {
    font-size: 0.9rem; /* Ajusta el tamaño según lo necesites */
}

/* Evitamos que desborde la tabla y si lo necesita crea un scroll */
#contenedorDataTable {
    max-height: 710px; /* Ajusta la altura máxima */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    margin-top: -55px;
}

.pagination {
    margin-left:  25px !important;
}


.pagination > li > a > .btn{
    color:#ffffff;
    outline: none; /* Elimina el borde */
    box-shadow: none; /* Elimina la sombra */
    border: none; /* Asegúrate de que no haya borde aplicado */
}

.pagination,#tablaProductos_filter,#tablaProductos_info{
    color:#003262  !important;
}

#tablaProductos_paginate > .pagination > #tablaProductos_previous > .page-link{
    background-color:#003262 !important;
    color:#ffffff !important; 
}

.pagination,#tablaVuelos_filter,#tablaVuelos_info{
    color:#003262  !important;
}

#tablaVuelos_paginate > .pagination > #tablaVuelos_previous > .page-link{
    background-color:#003262 !important;
    color:#ffffff !important; 
}

.pagination > li > .page-link {
    background-color: #003262 !important;
    border: 1px solid !important;
    border-radius: 5px !important;
    border-color: #003262 !important;
    margin-right: 10px !important;
    color: #ffffff !important;
}
.cabecera{
    color:#003262 !important;
}

/* Input busqueda de la tabla Datatables */
.dataTables_filter input {
    border: 2px solid #003262; /* Cambia el color según lo necesites */
    border-radius: 4px; /* Opcional: añade esquinas redondeadas */
    padding: 5px; /* Espaciado interno */
    transition: border-color 0.3s; /* Suaviza el cambio de color */
}

.dataTables_filter input:focus {
    /*border-color: #0091ea; /* Color al enfocar */
    outline: none; /* Elimina el contorno por defecto */
}

#tablaProductos{
    border: 1px solid !important;
    border-radius: 5px !important;
    border-color: #ffffff !important;
}

#tablaVuelos{
    border: 1px solid !important;
    border-radius: 5px !important;
    border-color: #ffffff !important;
}
 /* Footer dashboard*/
 .foot{
    height: 0.5px;

   }

/* Estilo Modales  */
.modal-title {
    color: #003262;
}


/* Ajustar posición de donde se muestran los SweeAlerts */
  /* Ajusta la posición del modal */
  .swal2-popup {
    margin-top: -90px !important; /* Cambia este valor para ajustar la altura */
}

