*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.gif linguist-vendored
*.svg linguist-vendored
*.ico linguist-vendored
*.php linguist-language=PHP
vendor/**/* linguist-vendored
node_modules/**/* linguist-vendored